@mixin container($width: 1200px){
  max-width: $width;
  margin: 0 auto;

  padding: 0 10px;
}

@mixin headerBlock(){
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 10px 0;
}

