$backgroundColor: #fff;

$textColor: #101010FF;

$categoriesLineColor: #F8EB79FF;

$themeColor:#D72828FF;
$whiteColor: #fff;

$searchBgColor: #f6f6f6;
$searchTextColor: #575757;

$exchangeGrownColor: #0fa40f;
$exchangeDropColor: red;

