$backgroundColor: #fff;

$textColor: #333;
$textGrayColor: #8d8d8d;

$errorColor: #ec0808;

$categoriesLineColor: #F8EB79FF;

$themeColor:#D72828FF;
$whiteColor: #fff;

$searchBgColor: #f6f6f6;
$searchTextColor: #575757;
$searchBorderColor: #B9B9B9FF;

$exchangeGrownColor: #0fa40f;
$exchangeDropColor: red;


$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
