@import "src/common/style/variables";

.news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  a {
    color: $textColor;
    text-decoration: none;

    &.news_linkTo {
      color: $themeColor;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//hover
.news_img_box {
  overflow: hidden;
  max-height: 350px;

  &:hover + .news_description {
    .news_title {
      text-decoration: underline;
    }
  };
}

.news_img {
  transition: .2s ease;
  cursor: pointer;

  &:hover{
    transform: scale(1.05);
  }
}

.news_title {
  &:hover {
    text-decoration: underline;
  }

  &:hover .news_img {
    transform: scale(1.05);
  }
}

.news_img_link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.reverse {
  flex-direction: row-reverse;
}

.newsLarge {

  .news_img_box {
    width: 50%;
  }

  .news_img {
    width: 100%;
    max-height: 400px;
  }

  .news_description {
    width: 48%;
  }

  .news_title {
    font-size: 32px;
  }

  .news_text {
    font-size: 18px;
  }
}

.newsSmall {
  flex-direction: column;
  justify-content: normal;

  width: 30%;

  .news_img {
    width: 100%;
  }

  .news_description {
    margin-top: 20px;
    font-size: 16px;
  }

  .news_img_box {
    max-height: 185px;
    object-fit: fill;
  }

  .news_img {
    object-fit: fill;
  }
}



.news_author {
  display: flex;
  justify-content: space-between;

  font-size: 16px;

  h3 {
    margin: 0;
    font-style: italic;
  }

  span {
    opacity: .6;
  }
}

@media (max-width: $sm) {
  .newsLarge, .newsSmall, .newsMiddle, .reverse {
    flex-direction: column;
    align-items: center;

    width: 100%;

    .news_img_box, .news_description {
      width: 100%;
    }
  }

}

