@import "src/common/style/variables";

.searchNews {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}

.searchNews_error {
  padding: 20px 0 50px 0;
  text-align: center;
}

.searchNews_error_category {
  color: $themeColor;
}

.searchNews_error_redirectButton {
  padding: 8px 10px;
  border: 1px solid $textColor;
  border-radius: 3px;

  color: $textColor;

  text-decoration: none;
}