@import "src/common/style/variables";

.controlPanel {
  padding: 10px 0;
}

.controlPanel_form {
  width: 100%;

  display: flex;
  gap: 30px;

  position: relative;
}

.controlPanel_saveBtn {
  border: none;
  outline: none;

  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0,0,0,.3);

  cursor: pointer;
  margin-left: auto;

  transition: all .2s ease;

  &:hover {
    box-shadow: 0 0 3px rgba(0,0,0,.5);
  }
}