
.weatherWidget {
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.weatherWidget_title {
  margin: 0;
  font-size: 26px;
}

.weatherWidget_c {
  font-size: 16px;
  font-weight: normal;
  vertical-align: super;
}