
.weatherWidget {
  img {
    width: 35px;
    margin-right: 10px;
  }
}

.weatherWidget_title {
  margin: 0;
  font-size: 26px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weatherWidget_c {
  font-size: 16px;
  font-weight: normal;
  vertical-align: super;
}
