@import "src/common/style/variables";

.nav {
  display: flex;

  a {
    font-size: 20px;
    margin-right: 15px;
    text-decoration: none;
    color: $textColor;

    transition: all .2s ease;

    &:hover {
      color: $themeColor;
    }

    &:last-child {
      margin-right: 0;
    }

  }

  .active {
    color: $themeColor;
  }
}

@media (max-width: $xl) {
  .nav_wrapper {
    align-self: flex-end;
  }
}

