@import "src/common/style/variables";

.article {
  margin-bottom: 40px;
}

.article_content {
  display: flex;
  justify-content: space-between;

  img {
   width: 45%;
  }
}

.article_description {
  width: 50%;
}

.article_author {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  color: $textGrayColor;
}

.article_text {
  margin: 0 0 25px 0;
  font-size: 28px;
}

.article_linkTo {
  text-decoration: none;
  color: $themeColor;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: $lg) {
  .article_content {
    flex-direction: column;

    img {
      width: 100%;
    }
  }

  .article_description {
    width: 100%;
  }

  .article_author {
    margin-top: 15px;
  }
}