@import "common/style/mixins";
@import "common/style/variables";

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  border: 0;
  outline: none;
}

.app {
  @include container();
}

.highlight {
  background: $categoriesLineColor;
}

@media (max-width: $xl) {
  .app {
    @include container(98%);
  }
}

